<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ebu.PdfSharpSample" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="PdfSharp.Xamarin.Sample.Android"></application>
	<provider android:name="androidx.core.content.FileProvider" android:authorities="com.samsongroup.samsonble.provider" android:exported="false" android:grantUriPermissions="true">
		<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
	</provider>
</manifest>